<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^ index.html [QSA,L]
    </IfModule>

    RewriteEngine On
    RewriteCond %{HTTP_HOST} carnessanjuan.com [NC]
    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ https://carnessanjuan.com/ [R,L]
</IfModule>
